/* styles.css */

/* Define color variables at the top */
:root {
  --aeblue-color: #012d78; /* Light grey for background */
  --input-color: #016601;
  --input-colorbg: #f0f4f0;
  --code-colorbg: #ebebeb;
  --output-color: #012d78;
  --output-colorbg: #edf6fc;
}

.reveal em {
    color: var(--aeblue-color); /* Change this to your desired color */
    font-style: normal;
    font-weight: bold;
  font-size: 32px;  /* Adjust the font size if needed */
}


.reveal .title-slide {
  background-color: #012d78; /* Desired color for title slides */
  margin: 0;
  padding: 0;
}

/* Global header style for Quarto slides */
.reveal .slide-header {
  position: absolute; /* Position the header absolutely on each slide */
  top: 1px;          /* Distance from the top of the slide */
  right: 1px;        /* Distance from the right edge of the slide */
  font-size: 45px;    /* Font size of the header */
/*  font-family: Arial, sans-serif;  */
  font-weight: bold;  /* Bold font */
  color: #33360;        /* Text color */
 /* background-color: #d6e6ef;  Light gray background color */
  border-radius: 5px; /* Rounded corners for a smoother look */
  padding: 5px 10px;  /* Padding for better spacing */
}

img {
  max-width: none !important;
  width: auto !important;
}

.reveal .exercise-slide {
  background-color: #c2e6f7;
}

/* Put logo in bottom right */
.reveal .slide-logo {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 12px;
  height: 80px !important;
  width: 80px !important;
  max-width: unset !important;
  max-height: unset !important;s
}

/* Centre align title slides */
h1 {
  text-align: center;
  margin: 0.0;
  colour: #fff;
  font-size: 20px; /* Doesn't work? */
}

.reveal p, .reveal li {
  font-size: 30px;  /* Adjust the font size if needed */
}

.definition {
  display: flex;
  margin-bottom: 20px;
}

.attribution {
  font-size: 10px;
  font-color: gray;
}


.word {
  padding: 5px;
/*   background-color: var(--aeblue-color);  */
/*  border-radius: 5px;  */
  color: var(--aeblue-color);
  width: 190px; /* Set a consistent width for all words */
  height: 55px; /* Set a consistent width for all words */
  text-align: center;
  font-weight: bold;
}

.definition-text {
  padding: 10px;
  background-color: transparent;
  font-size: 33px;    /* Font size of the header */
  width: 1000px; /* Set a consistent width for all words */
}


.code-box {
  padding: 1px;
  background-color: var(--code-colorbg);
  border-radius: 5px; /* Rounded corners for a smoother look */
  text-align: center;
  /*  font-weight: bold; */
  width: 600px; /* Set a consistent width for all words */
  margin: auto;
}

.code-box-small {
  padding: 5px;
  background-color: var(--code-colorbg);
  border-radius: 5px; /* Rounded corners for a smoother look */
  text-align: center;
  /*  font-weight: bold; */
  font-size: 30px;
  /*width: 290px;  Set a consistent width for all words */
  margin: auto;
}

.general-box {
  padding: 5px;
  border-radius: 5px; /* Rounded corners for a smoother look */
  /*  font-weight: bold; */
  /*width: 290px;  Set a consistent width for all words */
  margin: auto;
}



.arrow-box {
  text-align: center;
  font-weight: bold;
}

.input-box {
  padding: 5px;
  background-color: var(--input-colorbg);
  border-radius: 5px; /* Rounded corners for a smoother look */
  color: var(--input-color);
  font-size: 30px;
  text-align: center;
  /*  font-weight: bold; */
}

.output-box {
  padding: 5px;
  background-color: var(--output-colorbg);
  border-radius: 5px; /* Rounded corners for a smoother look */
  color: var(--output-color);
  font-size: 30px;
  text-align: center;
  /*  font-weight: bold; */
}


.inline-code {
  background-color: var(--code-colorbg); /* Light gray background */
  padding: 2px 4px;
  border-radius: 3px;
  font-family: monospace;
}

.reveal pre.sourceCode code {
  background-color: var(--code-colorbg);
}

.right-justified-text {
    text-align: right;
    color: gray;
    font-size: 15px !important;
    padding: 10px;
}
