/* styles.css */

/* Define color variables at the top */
:root {
  --aeblue-color: #012d78; /* Light grey for background */
  --input-color: #016601;
  --input-colorbg: #f0f4f0;
  --code-colorbg: #ebebeb;
  --output-color: #012d78;
  --output-colorbg: #edf6fc;
}

.reveal strong {
    color: var(--aeblue-color); /* Change this to your desired color */
}


/* Global header style for Quarto slides */
.reveal .slide-header {
  position: absolute; /* Position the header absolutely on each slide */
  top: 1px;          /* Distance from the top of the slide */
  right: 1px;        /* Distance from the right edge of the slide */
  font-size: 40px;    /* Font size of the header */
/*  font-family: Arial, sans-serif;  */
  font-weight: bold;  /* Bold font */
  color: #333;        /* Text color */
 /* background-color: #d6e6ef;  Light gray background color */
  border-radius: 5px; /* Rounded corners for a smoother look */
  padding: 5px 10px;  /* Padding for better spacing */
}

/* Put logo in bottom right */
.reveal .slide-logo {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 12px;
  height: 80px !important;
  width: 80px !important;
  max-width: unset !important;
  max-height: unset !important;s
}

/* Centre align title slides */
h1 {
  text-align: center;
  background-colour: var(--aeblue-color);
  margin: 0.0;
  colour: #fff
}



.definition {
  display: flex;
  margin-bottom: 20px;
}

.word {
  padding: 5px;
/*   background-color: var(--aeblue-color);  */
/*  border-radius: 5px;  */
  color: var(--aeblue-color);
  width: 190px; /* Set a consistent width for all words */
  height: 55px; /* Set a consistent width for all words */
  text-align: center;
  font-weight: bold;
}

.definition-text {
  padding: 10px;
  background-color: transparent;
  font-size: 33px;    /* Font size of the header */
  width: 1000px; /* Set a consistent width for all words */
}


.input-box {
  padding: 5px; 
  background-color: var(--input-colorbg); */
  border-radius: 55px; /* Rounded corners for a smoother look */
  color: var(--input-color);
  font-size: 30px;   
  text-align: center;
  font-weight: bold;
}

.code-box {
  padding: 1px; 
  background-color: var(--code-colorbg); 
  border-radius: 5px; /* Rounded corners for a smoother look */
  text-align: center;
  font-weight: bold;
  width: 600px; /* Set a consistent width for all words */
  margin: auto;
}


.arrow-box {
  text-align: center;
  font-weight: bold;
}


.output-box {
  padding: 10px;
  background-color: var(--output-colorbg); */
  border-radius: 25px; /* Rounded corners for a smoother look */
  color: var(--output-color);
  font-size: 30px;   
  text-align: center;
  font-weight: bold;
}